<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fantasy Movies</title>
</head>
<body>
    <h1>Fantasy Movie Database</h1>

    <% if (!allmovies.length) { %>
        <p>No movies added yet</p>
   <% } %>

   <ul>
    <% allmovies.forEach((movie, index) => { %>
       <li>
           <a href="/fantasyMovies/<%=movie._id%>"><%= movie.name %></a>
          <% }); %>
       </li>
   </ul>
   <a href="/">Home</a><br><br>
   <a href="/fantasyMovies/new">Add a new Movie</a>
</body>
</html>